.pomodoro-setting {
    background-color: var(--green-dark);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 20px;
    gap: 0.75em;
    border: 2px solid var(--green-deep);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    .setting-label{
        color: var(--green-light);
        font-size: 1.2em;
    }

    .label-short-break,
    .label-long-break,
    .label-session {
        cursor: pointer;
    }

    .setting-btns {
        display: flex;
        align-items: center;
        justify-content: center;
      
        input {
            width: 50px;
            text-align: center;
            font-size: 1.4em;
            border: none;
            background-color: transparent;
            color: var(--offwhite);

            &:focus {
                border: none;
                outline: none;
                color: yellow;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            font-size: 1.5em;
            border: 1px solid transparent;
            cursor: pointer;
            color: var(--green-light);

            &:hover {
                transition: 0.3s;
                color: white;
            }
        }
    }

    .unit {
        color: var(--green-light);
        font-size: 1em;
        text-align: center;
    }
}