:root {
  /* colours */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

   /* fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  min-height: 90vh;
  /* min-width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}