:root {
  /* colours */
  --offwhite: rgba(255, 255, 255, 0.7);
  --green-light: rgb(125, 190, 125);
  --green-dark: rgb(45, 77, 45);
  --green-deep: rgb(15, 30, 15);

   /* fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--green-light);

}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
