:root {
  /* colours */
  --offwhite: rgba(255, 255, 255, 0.7);
  --green-light: rgb(125, 190, 125);
  --green-dark: rgb(45, 77, 45);
  --green-deep: rgb(15, 30, 15);
  --orange: rgb(223, 76, 43);

  /* fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(237, 238, 169);
  color: rgba(255, 255, 255, 0.5);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confetti-explosion {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 50% !important;
  height: 50% !important;
}

.todo-app-container {
  width: 75vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  text-decoration: none;
}
