.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .title-pomodoro {
        
    }

    .pomodoro-settings {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

   
}