.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 100%;

    .title-pomodoro {
        color: var(--green-dark);
        
    }

    .pomodoro-settings {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }  
}